{% if SOCIAL %}

<!-- Social icons bar -->
		{% for s in SOCIAL %}
			{% if s[2] %}
				{% set name_sanitized = s[2]|lower|replace('+','-plus')|replace(' ','-') %}
			{% else %}
				{% set name_sanitized = s[0]|lower|replace('+','-plus')|replace(' ','-') %}
			{% endif %}
			{% if name_sanitized in ['flickr', 'slideshare', 'instagram', 'spotify', 'stack-overflow', 'weibo', 'line-chart', 'home', 'user', 'users', 'envelope', 'envelope-o', 'stack-exchange', 'hacker-news', 'gitlab', 'vk'] %}
				{% set iconattributes = '"fa fa-' ~ name_sanitized ~ ' fa-lg link-icon"' %}
			{% else %}
				{% set iconattributes = '"fa fa-' ~ name_sanitized ~ ' fa-lg link-icon"' %}
			{% endif %}
			<a href="{{ s[1] }}"><i class={{ iconattributes }}></i></a>
		{% endfor %}
<!-- end Sidebar/Social-->
{% endif %}
