{% extends "base.html" %}

{% block content %}

{% if articles %}
	{% for article in (articles_page.object_list if articles_page else articles) %}
		<!-- start a new row every 3rd article -->
		{% if loop.index0 % 3 == 0 %}
			<!-- open a new row div -->
			<div class="w3-row-padding w3-main">
		{% endif %}
		
			<!-- article card content -->
			<div class="w3-third w3-container">
				<!-- The card div must be inside a container div -->
				<!-- or there will be no margin around each card -->
				<div class="theme-card w3-card" style="min-height:400px">
					<article>
						{% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
						<div>
							{% include "includes/article_info.html" %}
						</div>
						{% endif %}

						<!-- include thumbnail photo if available -->
						{% if article.splash %}
						<div class="splash-container w3-hover-opacity" style="background-image:url({{ article.splash }});background-position:center;background-size:cover;background-repeat:no-repeat;width:100%" alt="test">
						</div>
						{% endif %}
				
						<!-- include article title, summary, and more button -->
						<div class="w3-container w3-margin-bottom">
							<p><b><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></b></p>
							<p>{{ article.summary }}</p>
							<a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">{{ _('more') }} ...</a>
						</div>
					</article>
				</div>
			</div>

		<!-- if we're on the last article in a row, close the row div -->
		{% if loop.index0 % 3 == 2 or loop.index == loop.length %}
			</div> <!-- end of row div-->
		{% endif %}

	<!-- end iteration through articles -->
	{% endfor %}
{% endif %}

{% endblock content %}
