<!DOCTYPE html>
<!-- base template that all other pages inherit from -->
<html>
<head>
<title>Holly Hudson</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- fonts and icons -->
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/fork-awesome.min.css" rel="stylesheet">

<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/w3.css" rel="stylesheet">
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" rel="stylesheet" type="text/css"/>
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/theme_colors.css" rel="stylesheet">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>

<body class="theme-background w3-content" style="max-width:1600px">

<!-- Sidebar -->
<nav class="theme-sidebar w3-sidebar w3-collapse w3-theme-d1" style="z-index:3;width:200px;right:0;margin-top:100px" id="sidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
	{% include 'includes/sidebar.html' %}
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Non-sidebar page stuff -->
<div class="w3-main" style="margin-right:210px">

  <!-- Header -->
  <header id="portfolio" class="hero">

	<!-- hamburger icon that opens and collapses the sidebar -->
    <span class="w3-button w3-hide-large w3-xxlarge w3-right theme-background w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>

	<!-- main title area -->
    <div class="w3-container site-title">
    	<h1><b>Holly Hudson</b></h1>

		<!-- top nav bar area -->
		<div class="w3-section w3-padding-16">
			<span class="w3-margin-right">Filter:</span> 
			<!-- replace with category or tag jinja code -->
      			<button class="w3-button theme-button">ALL</button>
      			<button class="w3-button theme-button"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
      			<button class="w3-button theme-button w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
      			<button class="w3-button theme-button w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button>
    	</div>
    </div>
  </header>
  
<!-- Project and Post Grid -->
<!-- This block is filled in by the .html file that is extending base -->
{% block content %}{% endblock %}


  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>FOOTER</h3>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  
    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Lorem</span><br>
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Ipsum</span><br>
          <span>Praes tinci sed</span>
        </li> 
      </ul>
    </div>

    <div class="w3-third">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">London</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">DIY</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Family</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Shopping</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Games</span>
      </p>
    </div>

  </div>
  </footer>
  
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("sidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("sidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
