<!DOCTYPE html>
<!-- base template that all other pages inherit from -->
<html>
<head>
<title>Holly Hudson</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- fonts and icons -->
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/fork-awesome.min.css" rel="stylesheet">

<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/w3.css" rel="stylesheet">
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" rel="stylesheet" type="text/css"/>
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/theme_colors.css" rel="stylesheet">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>

<body class="theme-background w3-content" style="max-width:1600px">

<!-- Header -->
<header id="portfolio" class="hero">

	<!-- title area -->
    <div class="w3-container site-title">
    	<h1><b>Holly Hudson</b></h1>

		<!-- top nav bar area -->
		<div class="w3-section w3-padding-16">
			<span class="w3-margin-right">Filter:</span> 
			<!-- replace with category or tag jinja code -->
			<a href="{{ SITEURL }}/article_list.html" class="w3-button theme-button">All</a>
			<a href="{{ SITEURL }}/automation.html" class="w3-button theme-button">Automation</a>
			<a href="{{ SITEURL }}/hardware.html" class="w3-button theme-button">Hardware</a>
			<a href="{{ SITEURL }}/gardening.html" class="w3-button theme-button">Gardening</a>
    	</div>
    </div>
</header>

<!-- article area-->

	<div class="w3-container article-area" style="margin-top:10px">
  
		<!-- Project and Post Grid -->
		<!-- This block is filled in by the .html file that is extending base -->
		{% block content %}{% endblock %}
	</div>


<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-dark-grey">
	<div class="w3-row-padding">
		<div class="w3-third">
			<h3>FOOTER</h3>
			<p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
			<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
		</div>
	</div>
</footer>
  
<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("sidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("sidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
